<div class="structure">
  <div class="profile">
    <img src="{{ this.bio.avatar_url }}" alt="" />
    <div class="profileDescription">
      <h1>
        {{ this.bio.login }}
      </h1>
      <p>
        {{ this.bio.bio }}
      </p>
      <p>
        <img class="Icon" src="../../assets/location.png" alt="" />
        {{ this.bio.location }}
      </p>
      <p><b>Twitter: </b> {{ this.bio.twitter_username || "Not Added" }}</p>
    </div>
  </div>
  <a class="githubURL" href="{{ this.bio.html_url }}">
    <img src="../../assets/link.png" class="Icon" alt="" />
    {{ this.bio.html_url }}
  </a>

  <div class="repoStructure">
    <div class="" *ngFor="let repo of paginate[currentPage - 1]">
      <div class="repo">
        <div>
          <h1>
            {{ repo.name || "" }}
          </h1>
          <p>
            {{ repo.description || "" }}
          </p>
        </div>
        <span *ngIf="repo.language">{{ repo.language }}</span>
      </div>
    </div>
  </div>
  <div class="paginationBlock">
    <div class="block" (click)="handleBack()"><<</div>
    <div
      *ngFor="let i of paginate; let indexOfPage = index"
      class="paginationBlock"
    >
      <div
        class="block"
        (click)="handleSelection(indexOfPage)"
        [ngClass]="indexOfPage + 1 === currentPage ? 'selected' : ''"
      >
        {{ indexOfPage + 1 }}
      </div>
    </div>
    <div class="block" (click)="handleNext()">>></div>
  </div>
  <div class="moveStructure">
    <div class="older"><- Older</div>
    <div class="newer">Newer -></div>
  </div>
</div>
